.btn{
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.completed{
  background-color: #00ff6f;
}
.box{
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.boxBtn{
  display: flex;
  gap: 4px;
}
.car{
  display: flex;
}